@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(243, 245,241);
}

.bg-image {
    background-image: url('./Components/signin22.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Ensure it covers the whole viewport height */
  }

  .bg-image_signup {
    background-image: url('./Components/signup4.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Ensure it covers the whole viewport height */
  }